body {
    font-family: Nunito;
    font-size: 16;
    color: #282828;
    margin: 0px;
    letter-spacing: normal;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
table {
    position: relative;
    top: 3%;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 658px;
}
td{
    padding-left: 10px;
}
tr{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 100px;
    height:52px;
    width: 100%;
}

tr:hover {
    box-shadow: 0px 10px 30px  #0610580c;
    border-radius: 50px;
}

input[type=text] {
    position: relative;
    width: 85%;
    transform: translate(-50%, 0%);
    top: 6%;
    left: 50%;
    height:52px;
    font-weight: 0;
    font-size: 16;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color:#EEEEEE;
    background-image:url("assets/Filled-Action-search.svg");
    background-repeat:no-repeat;
    background-position: left 15px center;
    padding-left: 40px;
    margin-top: 26px;
}

.transferwindow {
    position: fixed;
    width: 677px;
    height: 460px;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    background-color: white;
    border-width: 1px;
    box-shadow: 0px 15px 15px #06105825;
    display: none;
}

.titlebar {
    position: relative;
    background-color: #5265E8;
    height: 75px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title{
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.exitbutton{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 2%;
    color: white;
    font-size: 35px;
    background: none;
    border-style:none;
    outline: none;
    border: none;
}
.exitbutton:hover{
    color: lightgray;
}
#borderbox {
    position: absolute;
    border-bottom: 1px solid #1592E6;
    border-left: 1px solid #1592E6;
    border-right: 1px solid #1592E6;
    height: 84%;
    width: 100%;
    box-sizing: border-box;
}

.agentdata{
    position: relative;
    font-size: 16px;
}

.agentlist{
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    height: 300px;
}
.agentlist::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


img.avatar{
    height:36px;
    width:36px;
    border-radius: 100px;
}
tr.active td.status{
    color: #2ECA17;
}
tr.active td{
    color: #9195B1;
}
tr.inactive{
    color: #BAC4DE;
}
tr.inactive img{
    opacity: 50%;
}
td > *{
    vertical-align: middle;
}

.toggletransfer{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    color: black;
    font-size: 20px;
    background: #1592E6;
    border-radius: 100px;
    box-sizing: border-box;
    height: 45px;
    width: 100px;
    border-style:none;
    outline: none;
    border: none;
}

button.transferbutton{
    background: #5265E8;
    content: "Transfer";
}
tr.inactive td > button.transferbutton{
    background: gray;
}